<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wcb.mapper.UserMapper">

    <select id="queryMap" resultType="Maps">
        select province name,count(1) value from `user` GROUP BY province
    </select>

    <select id="findDate" resultType="Maps">
        select a.click_date time,ifnull(b.count,0)as value
            from (
                SELECT curdate() as click_date
                union all
                SELECT date_sub(curdate(), interval 1 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 2 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 3 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 4 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 5 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 6 day) as click_date
            ) a left join (
              select create_date as datetime, count(*)as count
              from `user`
              group by date(create_date)
            ) b on a.click_date = b.datetime;
    </select>
</mapper>
